<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548076750815-p741o6r88iv642ttjf88085lgte1ga7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548076750815-p741o6r88iv642ttjf88085lgte1ga7g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>548076750815-gdt5g0pma37g0afclnhq5dmmqm9egqto.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMh9KtxkssEc2RCUKcmIuKCd7eQBEK45Q</string>
	<key>GCM_SENDER_ID</key>
	<string>548076750815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohanvaja.institute</string>
	<key>PROJECT_ID</key>
	<string>feaseapp-84237</string>
	<key>STORAGE_BUCKET</key>
	<string>feaseapp-84237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548076750815:ios:ea672cd19c55bbf7c1266a</string>
</dict>
</plist>